.room {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: relative;
}

.room__header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}

.room__header-text {
  font-size: xx-large;
  font-weight: 700;
}

.room__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 80%;
  width: 100%;
}
.room__container-users {
  border: 1px solid rgb(180, 180, 180);
  border-radius: 1rem;
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.room__container-users--row {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 1rem;
}

.room__container-users--back-btn {
  margin-top: 1rem;
  width: 100%;
  padding: 1rem 0.75rem;
  border: none;
  background-color: #147efb;
  border-radius: 0.5rem;
  cursor: pointer;
  color: white;
  font-family: Roboto;
}

.room__container-users--row---entry----self {
  width: 100%;
  margin-bottom: 1rem;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 600;
}

.room__container-users--row---entry----self:hover {
  background-color: rgb(212, 212, 212);
  cursor: pointer;
}

.room__container-users--row---entry {
  width: 100%;
  margin-bottom: 1rem;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.room__container-users--row---entry:hover {
  background-color: rgb(212, 212, 212);
  cursor: pointer;
}

.user-icon {
  width: 15px;
  height: 15px;
  margin-right: 0.5rem;
}

.room__container-chat {
  margin-left: 1rem;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 1rem;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem;
}

.room__container-chatarea {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  margin-bottom: 1rem;
  padding-right: 1rem;
}

.room__container-chat--message {
  width: fit-content;
}

.room__container-chat--message---username {
  font-size: small;
  color: rgb(156, 156, 156);
  margin-bottom: 0.3rem;
}

.room__container-chat--message---text {
  width: fit-content;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #53d769;
  color: white;
}

.room__container-chat--message---self {
  margin-left: auto;
}

.room__container-chat--message---text----self {
  width: fit-content;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #147efb;
  color: white;
}

.room_container-chat--input {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  margin-top: auto;
}

.room__container-chat--input__area {
  border: 1px solid black;
  border-radius: 0.3rem;
  width: 100%;
  height: 3rem;
  padding: 0.5rem;
  font-family: Roboto;
}

.room__container-chat--input__info {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: rgb(156, 156, 156);
  font-size: small;
}

.connect-modal {
  z-index: 999;
  position: absolute;
  height: 200px;
  width: 300px;
  border: 1px solid black;
  border-radius: 0.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem;
}

.connect-modal__header {
  font-size: large;
  font-weight: 700;
}

.connect-modal__name {
  border: 1px solid black;
  border-radius: 0.3rem;
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem;
}

.connect-modal__connect-btn {
  margin-top: 1rem;
  cursor: pointer;
}

.connect-modal__error {
  color: red;
}

.connect-modal__error-inactive {
  display: none;
}

.connect-modal__error-active {
  display: block;
}

/** https://stackoverflow.com/questions/13014808/is-there-any-way-to-animate-an-ellipsis-with-css-animations */

.typing:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

/** SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
